In [1]:
import streamlit as st
import numpy as np
import pandas as pd

In [5]:
df = pd.DataFrame(
    np.random.rand(100, 2)/[50,50] + [35.69, 139.70],
    columns=['lat', 'lon']
)
df

          lat         lon
0   35.696161  139.700342
1   35.697997  139.718062
2   35.696899  139.717624
3   35.707922  139.705973
4   35.696649  139.701737
..        ...         ...
95  35.703642  139.702229
96  35.695383  139.718420
97  35.704492  139.706691
98  35.693069  139.700818
99  35.691374  139.716599

[100 rows x 2 columns]

In [6]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]